node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma
venv/
__pycache__/
*.pyc
/src/services/recommendation_src/follows.csv
/src/services/logging_src/log.csv
*.csv